<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audioType</key>
		<string>mp3</string>
		<key>imageName</key>
		<string></string>
		<key>audioName</key>
		<string>《红楼梦》第六十三回寿怡红群芳开夜宴  死金丹独艳理亲丧 上</string>
		<key>index</key>
		<string>0</string>
	</dict>
	<dict>
		<key>audioType</key>
		<string>mp3</string>
		<key>imageName</key>
		<string></string>
		<key>audioName</key>
		<string>《红楼梦》第六十三回寿怡红群芳开夜宴  死金丹独艳理亲丧 中</string>
		<key>index</key>
		<string>1</string>
	</dict>
	<dict>
		<key>audioType</key>
		<string>mp3</string>
		<key>imageName</key>
		<string></string>
		<key>audioName</key>
		<string>《红楼梦》第六十三回寿怡红群芳开夜宴  死金丹独艳理亲丧 下</string>
		<key>index</key>
		<string>2</string>
	</dict>
	<dict>
		<key>audioType</key>
		<string>mp3</string>
		<key>imageName</key>
		<string></string>
		<key>audioName</key>
		<string>《红楼梦》幽淑女悲题五美吟  浪荡子情遗九龙佩 上</string>
		<key>index</key>
		<string>3</string>
	</dict>
	<dict>
		<key>audioType</key>
		<string>mp3</string>
		<key>imageName</key>
		<string></string>
		<key>audioName</key>
		<string>《红楼梦》幽淑女悲题五美吟  浪荡子情遗九龙佩 中</string>
		<key>index</key>
		<string>4</string>
	</dict>
    <dict>
        <key>audioType</key>
        <string>mp3</string>
        <key>imageName</key>
        <string></string>
        <key>audioName</key>
        <string>《红楼梦》幽淑女悲题五美吟  浪荡子情遗九龙佩 下</string>
        <key>index</key>
        <string>5</string>
    </dict>
</array>
</plist>
